body {
	background-color: #ffffff;
	max-width: 900px;
	margin: 0 auto;
}

h1 {
	font-size: 70px;
	color: #293434;
	font-family: 'Cinzel', serif;
	text-align: center; 
	text-shadow: 2px 2px #A8A8A8;
}

h2 {
	font-size: 28px;
	color: #293434;
	font-family: 'Cinzel', serif;
	text-align: center;
	font-style: bold;
}
.intro {
	font-size: 18px;
	color: #293434;
	font-family: 'Cinzel', serif;
	text-align: justify;
}
.family-houses {
	font-size: 18px;
	text-align: left;
	color: #293434;
	font-family: 'Cinzel', serif;
}
.miscellany {
	font-size: 18px;
	text-align: left;
	color: #293434;
	font-family: 'Cinzel', serif;
}
